<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="true">

	<display-name>whj-web-jee</display-name>
	<description>Java web host for jee environment</description>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:application-context.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- ============== SERVLET ================ -->

	<servlet>
		<servlet-name>statics</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:META-INF/spring/jee/ctrl/j4e-web-ctrl-statics-context.xml</param-value>
		</init-param>

	</servlet>
	<servlet-mapping>
		<servlet-name>statics</servlet-name>
		<url-pattern>/statics/*</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>uiExtjs</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:META-INF/spring/jee/ctrl/j4e-web-ctrl-ui-extjs-context.xml</param-value>
		</init-param>
		<load-on-startup>-1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>uiExtjs</servlet-name>
		<url-pattern>/ui-extjs/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>security</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:META-INF/spring/jee/ctrl/j4e-web-ctrl-session-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>security</servlet-name>
		<url-pattern>/security/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>chart</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:META-INF/spring/jee/ctrl/j4e-web-ctrl-chart-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>chart</servlet-name>
		<url-pattern>/chart/*</url-pattern>
	</servlet-mapping>




	<servlet>
		<servlet-name>upload</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:META-INF/spring/jee/ctrl/j4e-web-ctrl-upload-context.xml</param-value>
		</init-param>
		<load-on-startup>-2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>upload</servlet-name>
		<url-pattern>/upload/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>download</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:META-INF/spring/jee/ctrl/j4e-web-ctrl-download-context.xml</param-value>
		</init-param>
		<load-on-startup>-2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>download</servlet-name>
		<url-pattern>/download/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>workflow</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:META-INF/spring/jee/ctrl/j4e-web-ctrl-workflow-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>workflow</servlet-name>
		<url-pattern>/workflow/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>data</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:META-INF/spring/jee/ctrl/j4e-web-ctrl-data-context.xml</param-value>
		</init-param>

	</servlet>
	<servlet-mapping>
		<servlet-name>data</servlet-name>
		<url-pattern>/data/*</url-pattern>
	</servlet-mapping>

	<!-- ============== Others ================ -->

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>